<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432282593032-r8hf9h8iavgopl493j1qmi5sl7jdideq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432282593032-r8hf9h8iavgopl493j1qmi5sl7jdideq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>432282593032-u2out8sjmjkvap1k2ksrq727ffmo6qfk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrGEneKfnF1qg0QHnfmdERYHqja3M0rsM</string>
	<key>GCM_SENDER_ID</key>
	<string>432282593032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireshipDemo</string>
	<key>PROJECT_ID</key>
	<string>flutter-fireship-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fireship-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432282593032:ios:fd53d18326128c4a95eebd</string>
</dict>
</plist>